.nav-container {
background-color: black;
width: Fill (1,446px);
height: Hug (96px);
padding: 24px, 216px, 24px, 216px;
border: 0px, 0px, 1px, 0px;
gap: 387px;

display: flex;
justify-content: center;
align-items: center;

}

.nav-button {
    width: Hug (161px);
    height: Fixed (48px);
    padding: 16px, 32px, 16px, 32px;
    border-radius: 2px;
    gap: 10px;
    background: linear-gradient(85.85deg, #D4F938 23.09%, #32D875 108.69%);
    box-shadow: 0px 0px 16px 0px rgba(168, 239, 156, 0.8);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);

    


}

.nav-lists {
    width: Hug (519px);
    height: Hug (48px);
    gap: 56px;
    display: flex;

}

.navlist {
    width: Hug (302px);
    display: flex;
    list-style: none;
    height: Hug (17px);
    gap: 34px;
    color: rgba(252, 252, 252, 1);


}

.nav-mobile {
    margin-top: 0;
    padding-top: 3%;
    background: radial-gradient(circle, #105710 2%, #000000 100%);
    color:rgba(231, 231, 234, 1);
    margin-bottom: 30px;
    padding-bottom: 30px;
}


.fut-img{
    width: 280px;
height: 100px;
top: 102px;
left: 287px;

}

.mobile-img {
    width: 779.59px;
height: 668.7px;

}

.nav-lists li:hover{
    cursor: pointer;
    
}